.appointment-container{
    background-image: url(../../../images/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:420px;
    width:100vw;
    background-position: center center;
    margin: 0px;
    padding: 0px;
}
.appointment-container::before{
    content:  "";
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    background: rgb(36, 41, 73);
    opacity: .9;
    top: 0;
    margin: 0;
}

.appointment-container img{
    height: 550px;
    transform: translateY(-130px);
}